@import './colors.scss';

@font-face {
    font-family: 'runalto';
    src: url(../fonts/runalto.ttf);
}

* {
    font-family: 'runalto';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: $primary-100;
    text-decoration: none;
}